* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1rem;
}
#center {
    height: 500px;
    width: 600px;
    margin:  0 auto;
    padding: 100px;
}
h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2rem;
    background-color: aquamarine;
    padding: 10px;
}
#text-input {
    width: 100%;
    height: 40px;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 20px;
    border: 2px solid black;
    border-radius: 5px;
}
#char-count {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
}